.card {
  min-height: 350px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

img {
  width: 20%;
}
